.header_wrapper{
    display: grid;
    row-gap: 120px;
    grid-column-start: 2;
}

.header_navigation{
    display: grid;
    grid-template-columns: minmax(auto, 170px) 1fr minmax(auto, 170px);
    grid-template-rows: 100px;
    align-items: center;
   
}

.header_nav{
    nav{
        .nav_list{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(7, auto);
            grid-template-rows: auto;
            justify-content: space-around;
            font-family: $ovrp;

            li{
                a{
                    color: $bk;
                    font-size: 20px;
                    text-decoration: none;
                }

                a:active{
                    color: rgba(0, 0, 0, 0.76);
                }
                .nav_sepical_btn{
                    border: 3px #c353e3 solid;
                    border-radius: 5px;
                    padding: 15px 36px;
                    font-weight: bold;
                }
                .nav_sepical_btn:hover{
                    border: 3px #a042b9fd solid;
                }
                .nav_sepical_btn:active{
                    color: rgba(0, 0, 0, 0.808);
                }
            }
 
        }
    }
}
.header_sm{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;

    .header_sm_icons:hover{
        transform: rotate(15deg);

    }
}


.header_content{
    display: grid;
    grid-template-columns: minmax(373px,573px) 1fr;
    grid-template-rows: auto;
    
    
}

.header_texts{
    h1{
        font-size: 56px;
        font-weight: bolder;
        margin-bottom: 50px;
    }
    p{
        color: #5e5858;
        font-size: 20px;
        margin-bottom: 63px;
    }
    .header_content_btn{
        background-color: $prp;
        color: $wt;
        text-decoration: none;
        font-family: $ovrp;
        font-weight: bolder;
        font-size: 20px;
        padding: 22px 55px;
        border-radius: 5px;
        display: inline-block;
    }
    .header_content_btn:active{
        transition: 0.6s;
        background-color: #ae42cc;
    }
}

.header_content_img{
    width: 700px;
    position: relative;
    left: 17px;
    right: 0;
    top: 0;
    bottom: 0;
}